{{template "base" .}}
{{define "title"}}Choose model{{end}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5">Available vehicle models</h1>
    
                {{$models := index .Data "models"}}
                
                <form>
                  <div class="form-group">
                      <label for="model"><strong>Select a model:</strong></label>
                    <select class="form-control" id="model" name="model">
                      {{range $models}}
                      <option value="{{.ID}}">{{.ModelName}}</option>
                      {{end}}
                    </select>
                  </div>
                  <hr>
                  <button type="button" onclick="redirectToModel()" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

  <script>
    function redirectToModel() {
        // Get the selected model id
        var selectedModel = document.getElementById("model").value;
        // Redirect to the chosen model page
        window.location.href = "/choose-model/" + selectedModel;
    }
  </script>

{{end}}
