{{template "base" .}}
{{define "title"}}Model Y{{end}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="static/images/modely.jpg" data-lightbox="car-image" data-title="Model Y Image">
                    <img src="static/images/modely.jpg" class="img-fluid
                    img-thumbnail mx-auto d-block model-3-image" alt="model y image">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-4">Rent Tesla Model Y</h1>
                <p>
                Introducing eRent, your premier destination for an extraordinary 
                driving adventure in the revolutionary Tesla Model Y. Immerse 
                yourself in luxury and innovation as you embark on a journey like
                no other. With our unwavering focus on excellence and sustainability, 
                we provide an unparalleled rental experience that harmonizes 
                cutting-edge technology with environmental consciousness. From 
                our impeccably maintained fleet of Tesla Model 3 vehicles to our 
                dedicated customer support team, we prioritize your comfort, 
                satisfaction, and peace of mind. Join us at eRent and be part of 
                the electrifying movement towards a greener and more exhilarating future.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="d-flex justify-content-center">
                    <a id="check-availability-button" href="#!" class="btn btn-primary mr-2">Check Availability</a>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click",
            function(){
                //notify("This is message", "warning")
                //notifyModal("title", "Hello", "success", "My text")

                let html = `
                  <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row", id="reservation-dates-pop">
                      <div class="col">
                        <div class="row" id="reservation-dates">
                          <div class="col-md-6">
                            <input required class="form-control" type="text" id="start" name="start" placeholder="Pick up" autocomplete="off">
                          </div>
                          <div class="col-md-6">
                            <input required class="form-control" type="text" id="end" name="end" placeholder="Return" autocomplete="off">  
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                `;

                attention.custom({html: html, title: "Choose pick up and return date",});
            })
    </script>
{{end}}

