{{template "base" .}}
{{define "title"}}Summary{{end}}
{{define "content"}}

    {{$rent := index .Data "rent"}}

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="mt-5">Rent Summary</h1>         
          <hr>

          <table class="table table-striped">
            <thead></thead>
            <tbody>
              <tr>
                <td>Name:</td>
                <td>{{$rent.FirstName}} {{$rent.LastName}}</td>
              </tr>
              <tr>
                <td>Vehicle:</td>
                <td>Tesla {{$rent.Model.ModelName}}</td>
              </tr>
              <tr>
                <td>Pick up date:</td>
                <td>{{index .StringMap "start_date"}}</td>
              </tr>
              <tr>
                <td>Return date:</td>
                <td>{{index .StringMap "end_date"}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{$rent.Email}}</td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>{{$rent.Phone}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
{{end}}
